<!DOCTYPE html>

<html>

<head>

    <title>Ceo List</title>
    <link rel="stylesheet" href="/css/app.css" type="text/css">
</head>
    


<center><h1> <%=db.name%> </h1></center>

<body>
<ul>
        <li>
            Year: <%=db.year%>
        </li>         
   
</ul>
</body>
</html>