<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">


    <title>Genre</title>
</head>

<center><h1 id = title> All Movies </h1></center>

<body>

<button> Horror </button>

<button> Action </button>

</body>

</html>