<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">


    <title>Search for a movie?</title>
</head>

<center><h1 id = title> Welcome to my dumb movie website </h1></center>


<body>

<center>
<div id = searchBtn>
<button id = "button"> <a href = "/search_all"> Search All </a> </button><br>
<button id = "button"> <a href = "/genre"> Search by Genre </a></button><br>
<button id = "button"> <a href = "/rating">Search by Rating </a> </button>
</div>
</center>

</body>

</html>