<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/app.css" type="text/css">


    <title>All Movies</title>
</head>

<center><h1 id = title> All Movies </h1></center>

<body>

<button> Released Films </button>

<button> Upcoming Films </button>

</body>

</html>