.y-wrap{
    display:flex;
    flex-direction: column;
    min-height:96vw;
}

.main{
    flex: 1 0 auto;
}


.head{
    background-color: orange
  }

  .foot{
    background-color: orange;
    flex-shrink: 0;
  }

  /* #footer{
      
  } */

